@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        cursor: url("./images/custom-cursor.png"), auto;

    }

    /* For the whole scrollbar */
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }


    /* For the handle (scrollbar thumb) */
    ::-webkit-scrollbar-thumb {
        background: #3498db;
        border-radius: 10px;
    }

    /* For the handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #6798b9;
    }

    /* For the corner between horizontal and vertical scrollbar */
    ::-webkit-scrollbar-corner {
        background: #f1f1f1;
    }

    /* underline-effect */

    #underline-effect{
        position: relative;
    }
    #underline-effect::before{
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 15%;
        height: 100%;
        border-bottom: 3px solid #130f40;
        transition: all .3s ease-in-out;
    }
    #underline-effect:hover::before{
        width: 100%;
    }
    #underline-effect:focus::before{
        width: 100%;
    }
    /* project-btn */
    #project-btn{
        z-index: 1;
        position: relative;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    #project-btn::before{
        transition: all .5s ease-in-out;
        z-index: -999;
        position: absolute;
        content: '';
        top: 0%;
        left: 0%;
        transform: translateX(-110%);
        height:100%;
        width: 100%;
        background-image: linear-gradient(to left bottom, #192a56, #1c2e5e, #203365, #23376d, #273c75);
    }
    #project-btn:hover::before{
        left: 110%;
    }
}